@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-sans: 'Inter', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);  /* Already set above */
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Use Inter */
}


/* Hide scrollbar across all browsers */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
.story-scroll {
    padding-left: 60px;
    padding-right: 60px;
}
#swiperpaddfx .swiper{padding-bottom: 70px;}
#swiperpaddfx .swiper-pagination{bottom: 5px;}
#swiperpaddfx .swiper-pagination-bullet{width: 50px;border-radius: 5px!important;height: 4px!important;}
#quotesi svg{width: 40px;}
.chevion{width: 28px;height: 28px;}